#####################################
# Base requirements
####################################
RPi.GPIO==0.6.3

#####################################
# Developer requirements
####################################
flake8==3.2.1
